Repository mingrammer/diagrams, pull requests merged in 2020-06, with the labels that each got.

#171 Added generic itens and blank cluster
  autogen.sh
  config.py
  diagrams/generic/__init__.py
  diagrams/generic/blank.py
  diagrams/generic/compute.py
  diagrams/generic/network.py
  diagrams/generic/place.py
  diagrams/generic/storage.py
  docs/nodes/generic.md
  resources/generic/blank/blank.png
  resources/generic/compute/rack.png
  resources/generic/network/firewall.png
  resources/generic/network/router.png
  resources/generic/network/switch.png
  resources/generic/network/vpn.png
  resources/generic/place/datacenter.png
  resources/generic/storage/storage.png
  scripts/resource.py
Labels: comp/node, kind/feat/provider

#150 Add: Tekton component
  diagrams/onprem/cd.py
  docs/nodes/alibabacloud.md
  docs/nodes/aws.md
  docs/nodes/azure.md
  docs/nodes/gcp.md
  docs/nodes/k8s.md
  docs/nodes/oci.md
  docs/nodes/onprem.md
  docs/nodes/programming.md
  resources/onprem/cd/tekton.png
Labels: area/provider/onprem, comp/node, kind/feat/icon

#186 Added more generic icons #126
  config.py
  diagrams/aws/iot.py
  diagrams/generic/device.py
  diagrams/generic/os.py
  diagrams/generic/virtualization.py
  docs/nodes/aws.md
  docs/nodes/generic.md
  resources/aws/iot/iot-action.png
  resources/aws/iot/iot-greengrass-connector.png
  resources/aws/iot/iot-http.png
  resources/aws/iot/iot-http2.png
  resources/aws/iot/iot-lambda.png
  resources/aws/iot/iot-policy-emergency.png
  resources/aws/iot/iot-policy.png
  resources/generic/device/mobile.png
  resources/generic/device/tablet.png
  resources/generic/os/android.png
  resources/generic/os/centos.png
  resources/generic/os/ios.png
  resources/generic/os/linux-general.png
  resources/generic/os/suse.png
  resources/generic/os/ubuntu.png
  resources/generic/os/windows.png
  resources/generic/virtualization/virtualbox.png
  resources/generic/virtualization/vmware.png
  resources/generic/virtualization/xen.png
Labels: area/provider/generic, comp/node, kind/feat/icon

#153 Add: new component Beats from Elasticstack
  diagrams/elastic/elasticsearch.py
  docs/nodes/alibabacloud.md
  docs/nodes/aws.md
  docs/nodes/azure.md
  docs/nodes/elastic.md
  docs/nodes/gcp.md
  docs/nodes/k8s.md
  docs/nodes/oci.md
  docs/nodes/onprem.md
  docs/nodes/programming.md
  resources/elastic/elasticsearch/beats.png
Labels: area/provider/onprem, comp/node, kind/feat/icon

#188 Add: containers tools into programming
  diagrams/k8s/ecosystem.py
  docs/nodes/k8s.md
  resources/k8s/ecosystem/helm.png
  resources/k8s/ecosystem/krew.png
  resources/k8s/ecosystem/kustomize.png
Labels: area/provider/k8s, comp/node, kind/feat/icon

#207 Fix typo for PersistentVolume
  config.py
  diagrams/k8s/storage.py
  docs/nodes/k8s.md
Labels: area/provider/k8s, comp/node

#209 New Auth0, Cloudflare, Recombee Nodes
  diagrams/saas/cdn.py
  diagrams/saas/identity.py
  diagrams/saas/recommendation.py
  docs/nodes/saas.md
  resources/saas/cdn/cloudflare.png
  resources/saas/identity/auth0.png
  resources/saas/recommendation/recombee.png
Labels: comp/node
