Repository mingrammer/diagrams, pull requests merged in 2020-09, with the labels that each got.

#260 Add: OpenServiceMesh component
  config.py
  diagrams/onprem/network.py
  docs/nodes/onprem.md
  resources/onprem/network/open-service-mesh.png
Labels: comp/node, kind/feat/icon

#288 add opnsense as an onprem component
  config.py
  diagrams/onprem/network.py
  docs/nodes/onprem.md
  resources/onprem/network/opnsense.png
Labels: area/provider/onprem, comp/node, kind/feat/icon

#286 [CONTRIBUTING] Trying to ease the flow for newcomers
  CONTRIBUTING.md
  DEVELOPMENT.md
Labels: kind/docs

#291 Features/pve lxc java dns zabbix
  config.py
  diagrams/onprem/container.py
  diagrams/onprem/monitoring.py
  diagrams/onprem/network.py
  diagrams/onprem/proxmox.py
  diagrams/onprem/storage.py
  docs/nodes/onprem.md
  resources/onprem/container/lxc.png
  resources/onprem/monitoring/zabbix.png
  resources/onprem/network/bind-9.png
  resources/onprem/network/glassfish.png
  resources/onprem/network/gunicorn.png
  resources/onprem/network/jbossas.png
  resources/onprem/network/jetty.png
  resources/onprem/network/powerdns.png
  resources/onprem/network/wildfly.png
  resources/onprem/proxmox/pve.png
  resources/onprem/storage/ceph-osd.png
  resources/onprem/storage/ceph.png
  resources/onprem/storage/glusterfs.png
  scripts/resource.py
Labels: comp/node, kind/feat/icon
