Repository mingrammer/diagrams, pull requests merged in 2020-05, with the labels that each got.

#112 Add programming languages and frameworks
  .gitignore
  CONTRIBUTING.md
  autogen.sh
  config.py
  diagrams/programming/__init__.py
  diagrams/programming/framework.py
  diagrams/programming/language.py
  docs/nodes/programming.md
  resources/programming/framework/angular.png
  resources/programming/framework/backbone.png
  resources/programming/framework/django.png
  resources/programming/framework/ember.png
  resources/programming/framework/flask.png
  resources/programming/framework/flutter.png
  resources/programming/framework/laravel.png
  resources/programming/framework/rails.png
  resources/programming/framework/react.png
  resources/programming/framework/spring.png
  resources/programming/framework/vue.png
  resources/programming/language/bash.png
  resources/programming/language/c.png
  resources/programming/language/cpp.png
  resources/programming/language/csharp.png
  resources/programming/language/dart.png
  resources/programming/language/go.png
  resources/programming/language/java.png
  resources/programming/language/javascript.png
  resources/programming/language/kotlin.png
  resources/programming/language/matlab.png
  resources/programming/language/nodejs.png
  resources/programming/language/php.png
  resources/programming/language/python.png
  resources/programming/language/r.png
  resources/programming/language/ruby.png
  resources/programming/language/swift.png
  resources/programming/language/typescript.png
  scripts/generate.py
  website/i18n/en.json
  website/pages/en/index.js
  website/sidebars.json
Labels: comp/node, kind/feat/provider

#142 generate tableau and metabase nodes
  diagrams/onprem/analytics.py
  docs/nodes/aws.md
  docs/nodes/onprem.md
  resources/onprem/analytics/metabase.png
  resources/onprem/analytics/tableau.png
Labels: area/provider/onprem, comp/node, kind/feat/icon

#149 Add AWS Elemental services
  diagrams/aws/media.py
  docs/nodes/aws.md
  resources/aws/media/elastic-transcoder.png
  resources/aws/media/elemental-conductor.png
  resources/aws/media/elemental-delta.png
  resources/aws/media/elemental-live.png
  resources/aws/media/elemental-mediaconnect.png
  resources/aws/media/elemental-mediaconvert.png
  resources/aws/media/elemental-medialive.png
  resources/aws/media/elemental-mediapackage.png
  resources/aws/media/elemental-mediastore.png
  resources/aws/media/elemental-mediatailor.png
  resources/aws/media/elemental-server.png
Labels: area/provider/aws, comp/node, kind/feat/icon

#154 Add Fluent Bit
  config.py
  diagrams/onprem/logging.py
  docs/nodes/alibabacloud.md
  docs/nodes/aws.md
  docs/nodes/azure.md
  docs/nodes/gcp.md
  docs/nodes/k8s.md
  docs/nodes/oci.md
  docs/nodes/onprem.md
  resources/onprem/logging/fluentbit.png
Labels: area/provider/onprem, comp/node, kind/feat/icon

#155 Add Azure General icon set
  diagrams/azure/general.py
  docs/nodes/azure.md
  resources/azure/general/allresources.png
  resources/azure/general/azurehome.png
  resources/azure/general/developertools.png
  resources/azure/general/helpsupport.png
  resources/azure/general/information.png
  resources/azure/general/managementgroups.png
  resources/azure/general/marketplace.png
  resources/azure/general/quickstartcenter.png
  resources/azure/general/recent.png
  resources/azure/general/reservations.png
  resources/azure/general/resource.png
  resources/azure/general/resourcegroups.png
  resources/azure/general/servicehealth.png
  resources/azure/general/shareddashboard.png
  resources/azure/general/subscriptions.png
  resources/azure/general/support.png
  resources/azure/general/supportrequests.png
  resources/azure/general/tag.png
  resources/azure/general/tags.png
  resources/azure/general/templates.png
  resources/azure/general/twousericon.png
  resources/azure/general/userhealthicon.png
  resources/azure/general/usericon.png
  resources/azure/general/userprivacy.png
  resources/azure/general/userresource.png
  resources/azure/general/whatsnew.png
Labels: area/provider/azure, comp/node, kind/feat/icon

#161 AWS: new IOT icons.. New categories: game, general, robotics
  config.py
  diagrams/aws/game.py
  diagrams/aws/general.py
  diagrams/aws/iot.py
  diagrams/aws/robotics.py
  docs/nodes/aws.md
  resources/aws/game/gamelift.png
  resources/aws/general/disk.png
  resources/aws/general/general.png
  resources/aws/general/generic-database.png
  resources/aws/general/generic-firewall.png
  resources/aws/general/generic-office-building.png
  resources/aws/general/generic-saml-token.png
  resources/aws/general/generic-sdk.png
  resources/aws/general/marketplace.png
  resources/aws/general/tradicional-server.png
  resources/aws/general/user.png
  resources/aws/general/users.png
  resources/aws/iot/iot-alexa-echo.png
  resources/aws/iot/iot-alexa-skill.png
  resources/aws/iot/iot-camera.png
  resources/aws/iot/iot-certificate.png
  resources/aws/iot/iot-hardware-board.png
  resources/aws/iot/iot-jobs.png
  resources/aws/iot/iot-mqtt.png
  resources/aws/iot/iot-rule.png
  resources/aws/iot/iot-shadow.png
  resources/aws/iot/iot-topic.png
  resources/aws/robotics/robomaker-simulator.png
  resources/aws/robotics/robomaker.png
  resources/aws/robotics/robotics.png
Labels: area/provider/aws, comp/node, kind/feat/icon

#166 Add GitlabCI to onprem.ci section
  config.py
  diagrams/onprem/ci.py
  docs/nodes/onprem.md
  resources/onprem/ci/gitlabci.png
Labels: area/provider/onprem, comp/node, kind/feat/icon

#145 Add ZuulCI as onprem CI resource
  config.py
  diagrams/onprem/ci.py
  docs/nodes/onprem.md
  resources/onprem/ci/zuulci.png
Labels: area/provider/onprem, comp/node, kind/feat/icon

#167 Add nodes for Firebase
  autogen.sh
  config.py
  diagrams/firebase/base.py
  diagrams/firebase/develop.py
  diagrams/firebase/extentions.py
  diagrams/firebase/grow.py
  diagrams/firebase/quality.py
  docs/nodes/azure.md
  docs/nodes/firebase.md
  resources/firebase/base/firebase.png
  resources/firebase/develop/authentication.png
  resources/firebase/develop/firestore.png
  resources/firebase/develop/functions.png
  resources/firebase/develop/hosting.png
  resources/firebase/develop/ml-kit.png
  resources/firebase/develop/realtime-database.png
  resources/firebase/develop/storage.png
  resources/firebase/extentions/extensions.png
  resources/firebase/grow/ab-testing.png
  resources/firebase/grow/app-indexing.png
  resources/firebase/grow/dynamic-links.png
  resources/firebase/grow/in-app-messaging.png
  resources/firebase/grow/invites.png
  resources/firebase/grow/messaging.png
  resources/firebase/grow/predictions.png
  resources/firebase/grow/remote-config.png
  resources/firebase/quality/app-distribution.png
  resources/firebase/quality/crash-reporting.png
  resources/firebase/quality/crashlytics.png
  resources/firebase/quality/performance-monitoring.png
  resources/firebase/quality/test-lab.png
  scripts/generate.py
  scripts/resource.py
Labels: comp/node, kind/feat/provider

#147 Add flux and flagger
  diagrams/onprem/gitops.py
  docs/nodes/alibabacloud.md
  docs/nodes/aws.md
  docs/nodes/gcp.md
  docs/nodes/k8s.md
  docs/nodes/oci.md
  docs/nodes/onprem.md
  resources/onprem/gitops/flagger.png
  resources/onprem/gitops/flux.png
Labels: area/provider/onprem, comp/node, kind/feat/icon

#174 Add elastic stack (#134)
  autogen.sh
  config.py
  diagrams/elastic/__init__.py
  diagrams/elastic/elasticsearch.py
  diagrams/elastic/enterprisesearch.py
  diagrams/elastic/observability.py
  diagrams/elastic/orchestration.py
  diagrams/elastic/security.py
  docs/nodes/elastic.md
  resources/elastic/cloud.png
  resources/elastic/elasticsearch/alerting.png
  resources/elastic/elasticsearch/elasticsearch.png
  resources/elastic/elasticsearch/kibana.png
  resources/elastic/elasticsearch/logstash.png
  resources/elastic/elasticsearch/machine-learning.png
  resources/elastic/elasticsearch/maps.png
  resources/elastic/elasticsearch/monitoring.png
  resources/elastic/elasticsearch/security-settings.png
  resources/elastic/elasticsearch/sql.png
  resources/elastic/enterprisesearch/app-search.png
  resources/elastic/enterprisesearch/enterprise-search.png
  resources/elastic/enterprisesearch/site-search.png
  resources/elastic/enterprisesearch/workplace-search.png
  resources/elastic/observability/apm.png
  resources/elastic/observability/logs.png
  resources/elastic/observability/metrics.png
  resources/elastic/observability/observability.png
  resources/elastic/observability/uptime.png
  resources/elastic/orchestration/ece.png
  resources/elastic/orchestration/eck.png
  resources/elastic/security/endpoint.png
  resources/elastic/security/security.png
  resources/elastic/security/siem.png
  scripts/generate.py
  scripts/resource.py
Labels: comp/node, kind/feat/provider

#180 AWS: Added more DynamoDB and IAM resources
  config.py
  diagrams/aws/database.py
  diagrams/aws/security.py
  docs/nodes/alibabacloud.md
  docs/nodes/aws.md
  docs/nodes/gcp.md
  docs/nodes/k8s.md
  docs/nodes/oci.md
  docs/nodes/onprem.md
  resources/aws/database/dynamodb-dax.png
  resources/aws/database/dynamodb-global-secondary-index.png
  resources/aws/database/dynamodb-table.png
  resources/aws/security/detective.png
  resources/aws/security/identity-and-access-management-iam-access-analyzer.png
  resources/aws/security/identity-and-access-management-iam-aws-sts.png
  resources/aws/security/identity-and-access-management-iam-permissions.png
  resources/aws/security/identity-and-access-management-iam-role.png
  scripts/resource.py
  website/i18n/en.json
Labels: area/provider/aws, comp/node, kind/feat/icon
