Repository mingrammer/diagrams, pull requests merged in 2024-11, with the labels that each got.

#1032 feat: Add Sonarqube logo
  diagrams/saas/security.py
  resources/saas/security/sonarqube.png
  website/static/img/resources/saas/security/sonarqube.png
Labels: kind/feat/icon, status/need-to-review, area/provider/saas

#1061 issue-982: add azure speech to text and Azure OpenAI
  diagrams/azure/ml.py
  docs/nodes/azure.md
  resources/azure/ml/azure-open-ai.png
  resources/azure/ml/azure-speed-to-text.png
  website/static/img/resources/azure/ml/azure-open-ai.png
  website/static/img/resources/azure/ml/azure-speed-to-text.png
Labels: area/provider/azure

#1062 issue-1056: add crowdstrike
  diagrams/saas/security.py
  docs/nodes/saas.md
  resources/saas/security/scrowdstrike.png
  website/static/img/resources/saas/security/scrowdstrike.png
Labels: area/provider/saas

#1047 Add the SQL programing language and the SQLPage framework
  diagrams/programming/framework.py
  diagrams/programming/language.py
  docs/nodes/programming.md
  resources/programming/framework/sqlpage.png
  resources/programming/language/sql.png
  website/static/img/resources/programming/framework/sqlpage.png
  website/static/img/resources/programming/language/sql.png
Labels: area/provider/programming

#1072 add zendesk, intercom and update typo for crowstrike in README
  diagrams/saas/crm.py
  docs/nodes/saas.md
  resources/saas/crm/intercom.png
  resources/saas/crm/zendesk.png
  website/static/img/resources/saas/crm/intercom.png
  website/static/img/resources/saas/crm/zendesk.png
  website/static/img/resources/saas/security/crowdstrike.png
Labels: area/provider/saas

#1066 add pre-commit to verify commit before create PR
  .github/workflows/pre-commit.yml
  .isort.cfg
  .pre-commit-config.yaml
  CHANGELOG.md
  DEVELOPMENT.md
  diagrams/__init__.py
  diagrams/c4/__init__.py
  diagrams/programming/framework.py
  docker/dev/Dockerfile
  poetry.lock
  pyproject.toml
  scripts/generate.py
  scripts/resource.py
  tests/test_c4.py
  tests/test_diagram.py
  website/sidebars.json
  website/static/css/custom.css
Labels: enhancement
