Repository mingrammer/diagrams, pull requests merged in 2025-03, with the labels that each got.

#1119 feat: add DuckDB to onprem/database
  diagrams/onprem/database.py
  docs/nodes/onprem.md
  resources/onprem/database/duckdb.png
  website/static/img/resources/onprem/database/duckdb.png
Labels: area/provider/onprem

#1126 add imperva to CDN
  diagrams/saas/cdn.py
  docs/nodes/saas.md
  resources/saas/cdn/imperva.png
  website/static/img/resources/saas/cdn/imperva.png
Labels: area/provider/saas

#1121 Add missing EventBridge Icons
  diagrams/aws/integration.py
  docs/nodes/aws.md
  resources/aws/integration/eventbridge-default-event-bus-resource.png
  resources/aws/integration/eventbridge-event.png
  resources/aws/integration/eventbridge-pipes.png
  resources/aws/integration/eventbridge-rule.png
  resources/aws/integration/eventbridge-scheduler.png
  resources/aws/integration/eventbridge-schema.png
  website/static/img/resources/aws/integration/eventbridge-default-event-bus-resource.png
  website/static/img/resources/aws/integration/eventbridge-event.png
  website/static/img/resources/aws/integration/eventbridge-pipes.png
  website/static/img/resources/aws/integration/eventbridge-rule.png
  website/static/img/resources/aws/integration/eventbridge-scheduler.png
  website/static/img/resources/aws/integration/eventbridge-schema.png
Labels: area/provider/aws
