Repository mingrammer/diagrams, pull requests merged in 2025-02, with the labels that each got.

#759 Added icon for Pulumi
  diagrams/onprem/iac.py
  docs/nodes/onprem.md
  resources/onprem/iac/pulumi.png
  website/static/img/resources/onprem/iac/pulumi.png
Labels: area/provider/onprem

#1097 docs: Fix incorrect on-premise refs from PR #1023
  docs/getting-started/examples.md
Labels: kind/docs

#1110 Add Bedrock icon
  diagrams/aws/ml.py
  docs/nodes/aws.md
  resources/aws/ml/bedrock.png
  website/static/img/resources/aws/ml/bedrock.png
Labels: area/provider/aws
